#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game {
  padding: .5rem 1.5rem;
  background-color: var(--surface);
  border-radius: 1rem;
}

.row {
  display: flex;
}

.cell {
  --cell-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--cell-size) * 0.75);
  font-weight: 700;
  width: var(--cell-size);
  height: var(--cell-size);
  border: solid 1px var(-cell-border-color);
  user-select: none;
  cursor: default;
  position: relative;
  box-sizing: border-box;
}

.cell img {
  width: 75%;
  height: 75%;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlay-mid);
  border-width: 2.25px;
  border-top-color: var(--overlay-light);
  border-left-color: var(--overlay-light);
  border-bottom-color: var(--overlay-dark);
  border-right-color: var(--overlay-dark);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 3px 3px 8px #33333366;
  opacity: 0.8;
}

.flag {
  display: none;
}

.flag.visible {
  display: block;
}

.red {
  background-color: var(--red);
}

.green {
  background-color: var(--green);
}

header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: 1rem;
  white-space: nowrap;
}

.header-icon {
  width: 1em;
  height: 12m;
}